<% layout('./layouts/boilerplate'); %>

    <h1>Beef Notes</h1>
    <ul>
        <% for (let beef of beefinqs) {%>
            <li><a href="/beefinq/<%= beef._id %>"><%=beef.first%>
                <p><%= beef.first %> <%= beef.last %><br>
                email: <%= beef.email %><br>
                ZIP Code: <%= beef.zip %></p>
                <p><%= beef.note %></p>
            </li>
        <%}%>
    </ul>
