<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Beef Note</title>
</head>
<body>
    <h1><%= beefNot.first %> <%= beefNot.last %></h1>
    <h2> email: <%= beefNot.email %></h2>
    <h2> ZIP Code: <%= beefNot.zip %></h2>
    <p><%= beefNot.note %></p>
    <form action=""/beefinquiry/<%=
    <a href="/beefinquiry">Return to note list</a>
</body>
</html>