<% layout('./layouts/boilerplate'); %>

    <h1>Stock Notes</h1>
    <ul>
        <% for (let stock of stockinqs) {%>
            <li><a href="/stockinq/<%= stock._id %>"><%=stock.first%>
                <p><%= stock.first %> <%= stock.last %><br>
                email: <%= stock.email %><br>
                ZIP Code: <%= stock.zip %></p>
                <p><%= stock.note %></p>
            </li>
        <%}%>
    </ul>
